.popup-parents{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;

}
.popup-chilren{
    /* //height: 90%; */
    margin-top: 1%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .popup-chilren {
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 767px) {
    .popup-chilren {
        margin-top: 10rem;
    }
}