.list-item {
    flex: 3;
}

.list-item .title {
    font-size: 1.3rem;
    background-color: #eeeeee96;
    font-weight: 500;
    color: #626262;
}


.caret-left-icon:hover,
.caret-right-icon:hover {
    opacity: .6;
    cursor: pointer;
}

.quantity-number {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.total-price,
.price {
    font-style: italic;
    font-size: 1.2rem;
    color: #959595;
}

.continue-shopping,
.proceed-checkout {
    font-size: 1.2rem;
    text-decoration: none;
    color: #7d7d7d;

}

.shopping-checkout {
    background-color: #c1c5c936;
}

.provisional-bill {
    padding: 5rem 2rem;
    flex: 1;
    background-color: #c1c5c936;
}

.sub-total {
    border-bottom: 1px solid #0000002b;
}

.total h6,
.sub-total h6 {
    letter-spacing: 0.05rem;
    font-size: 1.14rem;
    color: #00000096;
}

.sub-total .provisional-bill__sub-price {
    color: #0000007d;
}

.total .provisional-bill__total-price {
    font-size: 1.3rem;
    opacity: .75;
}

.coupon input {
    outline: none;
    border: 1px solid #d6d6d6;
}

.remove-item:hover {
    cursor: pointer;
    opacity: .6;
}