.item {
    /* width: 20%; */
    font-size: 11px;
    cursor: pointer;
    background-color: white;
    text-align: center;
    /* opacity: 0.8; */
}
.item img {
    height: 200px;
    margin-bottom: 20px;
    width: 100%;
}
.item-name{
    font-weight: 700;
    text-decoration: none;
    color: #222;
}
.item-price{
    color: #1abc9c;
    font-weight: 700;

    text-decoration: none;
}
.item:hover{
    opacity: 0.5;
    background-color: white;
}
.list-item {
    animation: fadeInFromLeft 1.5s ease;
    margin-bottom: 5rem;
}
.top-trending{
    background-image: url('/src/img/mauxanh.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    border-radius: 36px;
    padding: 2.5rem;
}
.move-left{

}
.move-right{
    overflow: hidden;
}
.move-right:hover{
    background-color: #ccc;
    opacity: 0.5;
}
.move-left:hover{
    background-color: #ccc;
    opacity: 0.5;
}