.delivery-policy {
    background-color: #f8f9fa;
    padding: 4rem 2rem 4rem 4rem;
}

.other-info__form {
    height: 90%;
}

.contact-input {
    outline: none;
    flex: 3;

    border: 1px solid #2b292940;
}

.contact-submit {
    flex: 1;
    border: none;
}