.item {
    height: 200px;
    border: solid;
    width: 20%;
    font-size: 11px;
    cursor: pointer;
    background-color: white;
}
.item:hover{
    opacity: 0.5;
    background-color: white;
}
.list-item {
    animation: fadeInFromLeft 1.5s ease;
    margin-bottom: 5rem;
}
.top-trending{
    background-image: url('/src/assets/images/images\ \(1\).jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    border-radius: 36px;
    padding: 2.5rem;
}
.move-left{

}
.move-right{
    overflow: hidden;
}
.move-right:hover{
    background-color: #ccc;
    opacity: 0.5;
}
.move-left:hover{
    background-color: #ccc;
    opacity: 0.5;
}