.search-input {
    opacity: .9;
    outline: none;
    /* border: 1px solid #908e8e75; */
    /* width: 50%; */
    margin: 0 auto;
    position: absolute;
    z-index: 1000;
    /* margin: 0 auto; */
    /* margin-left: 16%; */
}