.sign-up {
    background-color: #fff;
    width: 30%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 4rem 4rem 2rem 4rem;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    color: #9b9999;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
}


.sign-up-form input {
    outline: none;
    padding: 1rem 0.8rem;
    border: 1px solid #a8a0a02e;
    font-weight: 400;
    font-size: 1.1rem;
}

.sign-up_btn {
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    background-color: #3d3e3f;
}

.sign-in-link {
    font-size: 1.2rem;
}