
.favotrite:hover{
    background-color: white;
    color: rgb(46, 166, 221);
}
.item-img img{
    z-index: 1;
}
.item {
    /* width: 20%; */
    font-size: 11px;
    cursor: pointer;
    background-color: white;
    /* text-align: center; */
    /* opacity: 0.8; */
    padding: 0.9rem;
}
.item-content{
    width: 100%;
}
.img-sticker{
    margin: 0;
    width: 25%;
    position: absolute;
    z-index: 1;
    bottom: -3px;
}
.img-product{
    height: 100%;
    width: 100%;
   
}
.item-product{
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
}
.item-name{
    font-weight: 700;
    text-decoration: none;
    color: #222;
    font-size: 13px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .item-name {
        font-weight: 700;
        text-decoration: none;
        color: #222;
        font-size: 70%;
    }
}

@media only screen and (max-width: 767px) {
.item-name {
    font-weight: 700;
    text-decoration: none;
    color: #222;
    font-size: 70%;
    }
}
.item-price{
    color: #1abc9c;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
}
.item-content:hover img{
    /* opacity: 0.5; */
    background-color: white;
    /* margin-bottom: 20px; */
    /* width: 100%; */
    /* margin-top: 20px; */
  animation: zoom-in-zoom-out 1s ease infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.05, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  }
.list-item {
    animation: fadeInFromLeft 1.5s ease;
    margin-bottom: 5rem;
}


.product {
    cursor: pointer;
    height: 100%;
    width: 23%;
    height: 250px;
    border: solid;
}
.product-content:hover {
    opacity: .5;
}
.image-warrper img{
    height: 200px;
    margin-bottom: 20px;
    width: 100%;
}
/* .product:hover {
    opacity: .5;
} */

.product-popup {
    height: 90%;
    background-color: #fff;
    width: 90%;
}

.img-popup {
    flex: 1;
}

.description-popup {
    flex: 1;
}

.popup-price {
    color: #00000087;
}

.short-desc {
    color: #b4acac;
}

.icon {
    color: #ab9f9f;
    width: fit-content;
    height: fit-content;
}

.icon:hover {
    color: #fff;
    background-color: red;
}

.view-detail-btn {
    color: #dcd9d9;
}